*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.contener{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}